[Unit]
Description=CSYE 6225 App
ConditionPathExists=/home/webapp-main/.env
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/home/webapp-main/
ExecStartPre=/bin/bash setup_migrations.sh
ExecStart=/home/webapp-main/venv/bin/python3 app.py
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target
